
{% extends 'base.html' %}
{% block body_bottom %}
<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info.html">· 个人信息</a></li>
				<li><a href="/user/user_center_order.html" class="active">· 全部订单</a></li>
				<li><a href="/user/user_center_site.html">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>

            {% for order in my_order %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.odate }}</li>
					<li class="col02">订单号：{{ order.oid }}</li>
					<li class="col02 stress">
                        {% if order.oIsPay  %}
                        已支付
                        {% else %}
                        未支付
                        {% endif %}
                    </li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for detail in my_order_detail %}
                                {% ifequal order.oid detail.order_id %}
                                        <ul class="order_goods_list clearfix">
                                            <li class="col01"><img src="{{ detail.goods.gpic.url }}"></li>
                                            <li class="col02">{{ detail.goods.gtitle }}
                                                <em>{{ detail.goods.gprice }}/{{ detail.goods.gunit }}</em></li>
                                            <li class="col03">{{ detail.count }}</li>
                                            <li class="col04">{{ detail.price }}元</li>
                                        </ul>
                                    {% endifequal%}
                                {% endfor %}
							</td>
							<td width="15%">{{ order.ototal }}元</td>
							<td width="15%">
                                {% if order.oIsPay %}
                                    已付款
                                {% else %}
                                    待付款
                                {% endif %}
                            </td>
							<td width="15%"><a href="#" class="oper_btn">
                                {% if not order.oIsPay %}
                                 去付款</a>
                                {% endif %}
                            </td>

						</tr>
					</tbody>
				</table>
            {% endfor %}

		</div>
	</div>

{% endblock body_bottom %}
